body {
    background-color: rgb(224, 226, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3 3 3 3;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}


head > img{
    display: block;
    margin: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: rgb(233, 234, 235);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

nav li {
    
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.navstyle {
    background-color: rgba(73, 73, 73, 0.74);
    border-radius: 15px;
    height: 60px;
}

footer p{
    font-size: 13px;
    color:midnightblue;
    margin-top: 50px;
    margin-bottom: 20px;
}

section {
    display: flex;
}

article {
    flex: 1;
    
}

.box {
    background-color: rgb(250, 214, 170);
    border-radius: 15px;
    padding-bottom: 250px;
    padding-right: 30px;
    padding-left: 30px;
}
